volumes:
  pg_data:

services:
  db:
    image: postgres:13.10
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./crowdfunding/
    env_file: .env
    depends_on:
      - db
