volumes:
  pg_data:

services:
  db:
    image: postgres:13.10
    env_file: .env
    ports:
      - '5433:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./crowdfunding/
    env_file: .env
    ports:
      - '8000:8000'
    depends_on:
      - db
  redis_cache:
    image: redis:7
    ports:
      - '6379:6379'
  redis_gui:
    image: redis/redisinsight
    ports:
      - '5540:5540'
